# EditorConfig: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Tab indentation (no size specified)
[Makefile]
indent_style = space

# Indentation override for all JS/SASS/CSS/TXT/JSON/Twig
[**.js,**.scss,**.sass,**.css,**.txt,**.twig,**.json,**.ejs]
indent_style = space
indent_size = 2

# Indentation override for all JS/SASS/CSS
[**.php,**.html]
indent_style = space
indent_size = 4